.List {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.List > h4 {
  color: #3b3a3a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.List > input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dbe3e4;
  padding: 15px 0px;
}

.List > input:focus {
  outline: none;
  border-bottom: 1px solid #cedc2a;
}

.List .todos_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}